

<div class = "selection">
	<div class = "option">
		<select>
			<option>Delhi/NCR</option>
		</select>
	</div>
	<div class = "option">
		<select>
			<option selected ="selected">select movie</optio>
			<% @movies.each do |movie|%>
			<option>
				<%= movie.name %>
			</option>
			<% end %>
		</select>
	</div>
	<div>
		<select>
			<option selected ="selected">select date</optio>
		</select>
	</div>
</div>
