<div class = "box">
	<div class = "check">
		<table>
			<tr class= "row1">
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
			</tr>
			<tr class= "row2">
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
			</tr>
			<tr class= "row3">
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
				<td><input type = "checkbox"/></td>
			</tr>
		</table>
	</div>
	<div class = "legend">
		<img src = "assets/red.jpg">Platinum (Rs.250/-)<br>
		<img src = "assets/blue.png">Gold (Rs.200/-)<br>
		<img src = "assets/green.png">Silver (Rs.150/-)<br>
		<img src = "assets/grey.jpg">unavailable
	</div>
	<div class = "screen">
		<b>SCREEN THIS WAY</b>
	</div>
</div>