Hi!

Thank you for registering at ticketkhidki.com.
here are your account details--
<ul style = "list-style: none">
	<li><b>Name          :    </b><%= @name %></li>
	<li><b>Login id      :    </b><%= @email %></li>
	<li><b>Wallet		 :    </b>&#8377; <%= @money %></li>
</ul>