
#show_box {
border: solid 2px firebrick;
position: relative;
top: 100px;
left: 70px;
width: 500px;
background: lightgrey;
height: auto;	
}
#add_shows {
	position: relative;
	
	left: 100px;
}
select {
	background: firebrick;	
	color: white;
}
.theatre_log_page{
	position: relative;
	top: 100px;
}

.audi {
	width: 80px;
}

#theatre_box {
border: solid 2px firebrick;
position: relative;
top: -242px;
left: 700px;
width: 500px;
background: lightgrey;
height: 340px;	
}

#add_theatre {
position: relative;
	width: 210px;
	left: 50px;
	height: 180px;	
	border-right: solid 2px firebrick;
}

#remove_theatre {
	position: relative;
	left: 320px;
	top: -180px;	
}

.add_show {
	a {
	color: firebrick;
	}
}

