/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .header {
	background : firebrick;
	text-align : center;
	height : 100px;
	color :white;
}
.logout {
	position: relative;
	top : 45px;
	left : 430px;
	color: firebrick;
}
.name {
	position :relative;
	left: 910px;
	top: 10px;
	width: 140px;
	color: black;
}
.change_password {
	width: 150px; 
	position: relative;
	top: -25px;
	left: 1110px;

	a {
	color: firebrick;
	}
}