.main {
	position: relative;
	left: 1100px;
	width: 135px;
	top: 30px;
}
.option{
    position:relative;
	float: left;
	padding-right: 80px;
}
.selection {
	position: relative;
	left: 100px;
	top: 15px;
}