.box {
	border: solid 1px firebrick;
	width: 550px;
	height: 428px;
	position: relative;
	top: 100px;
	left: 350px;
}
.submit {
	position: relative;
	top: -110px;
	left: 450px;
}
tr {
	height: 40px;
	border-bottom: none;
	margin-bottom: 20px;
}
.row1 {
	background: red;
}
.row2 {
	background: blue;
}
.row3 {
	background: green;
}

.check {
	position: relative;
	top: 30px;
	left: 30px;
	width: 350px;
	input {
		width: 20px;
		height: 20px;
		position: relative;
		top: 10px;
		margin-right: 20px;
		margin-left: 20px;
	}
}
.screen {
	background: black;
	position: relative;
	top: 118px;
	text-align: center;
	font-style: italic;
	color: white;
	width: 300px;
	left: 43px;
	height: 50px;
}
.legend {
	width: 175px;
	position: relative;
	top: 65px;
	left: 380px;
}
img{
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
#info {
	position: relative;
	left: 300px;
	top: -200px;
	width: 200px;
	select {
	background: salmon;
	color: dimgray;
	}
}
b {
	margin-right: 5px;
	width: 47px;
}
#audi_layout {
	position: relative;
	top: 30px;
	left: 50px;
	button {
	background: firebrick;
	color: white;
	}
}

#movie_poster {
	width: 210px;
	img {
	width: 200px;
	height: 250px;
	}
}