.hidden {
	display: none;
}
.listing {
	background: grey;
	width: 1000px;
}
.row { 
	border-bottom: solid 1px black;
	text-align: left;
	height: 50px;
}
#listings {
	height: 100px;
	position: relative;
	top: 120px;
}
.theatre_name {
	width: 90px;
	padding-left: 7px;
}
.timing {
	position: relative;
	top: -20px;
	left: 120px;

	a {
	padding-right: 30px;
	}
}
.option {
	select {
	background: firebrick;
	color: white;
	height: 25px;
	}
}

select option {
	background: firebrick;
	color: white;
	height: 25px;
	/*margin: 25px;*/
	}

	.selection {
	position: relative;
	left: 100px;
	top: 80px;
}

.main{
	a {
	color: firebrick;
	}
}

#listing_choice {
	position: relative;
	width: 200px;
	top: 50px;
	left: 200px;
	color: firebrick;
	input {
	margin-right: 20px;
	}
}