.register {
	background: darkgrey;
	font-style: sans sarif;
	text-align: center;
	height: 30px;
	font-size: 17.5px;
	border: solid 1px firebrick;
}
fieldset {
	width: 800px;
	position: relative;
	left: 230px;
	top: 50px;
	height: 225px;
	border: solid 1px firebrick;
}
label {
  float:left;
  width:40%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }
legend {
	border: solid 1px firebrick;
	background: darkgrey;
}
#back {
	position: relative;
	top: -30px;
	left: 650px;
}

.field {
	padding-bottom: 15px;
}

.actions {
	position: relative;
	top: 31px;
}
#back {
	position: relative;
	top: -35px;
	left: 650px;
}