<% unless movie_shows.nil? %>
<div class = "listing">
	<% location.keys.each do |k|  %>
		<div class = "row">
			<div class ="theatre_name"><b><u><%= k %></u></b></div>
			<div class ="timing"><% location[k].each do |l| %>
				<%= link_to l, seats_path %>
			<% end %></div>
		</div>
	<% end %>
</div>
<% end %>
